<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Chat App{% endblock %}</title>
    <link rel="stylesheet" href="/static/chat/css/styles.css">
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
            <span>Welcome, {{ user.username }}</span>
            {% comment %} <a href="{% url 'logout' %}">Logout</a> {% endcomment %}
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html> 